@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-size: 100%;
  background-color: #171418;
}





/* etilos para esqueceu sua senha */
.esqueceu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
  }
  
  .esqueceu a{
    font-size: 1.1rem;
    color: #F9F8F9;
  }
  
  .esqueceu a:hover{
    color: #EAE2B7
  }
/* fim */



.box-input{
    position: relative;
  }
  
  .box-input input{
    width: 470px;
    padding: 10px 0;
    outline: none;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #eae2b7;
    color: #F9F8F9;
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 40px;
  }
  

  /* joga o texto para o inicio da linha */
  .box-input label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    transition: .5s;
  }


/* animação para diminuir nome e cpf */
  .box-input input:focus~label,
  .box-input input:valid~label{
    top: -20px;
    left: 0;
    color: #EAE2B7;
    font-size: .8rem;
  }

/* margin para "login" */
  .card-login h2{
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
  }
/* fim */
  


.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
  
  .logo{
    width: 320px;
    height: 80px;
  }
  
  .card-login{
    width: 550px;
    height: 500px;
    background-color: #ED6515;
    border-radius: 30px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: #F9F8F9;
  }

/* estilos dos botoes  */
.btn-entrar, .btn-cadastrar {
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
    background-color: #432818;
    color: #EAE2B7;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    outline: 0;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    width: 300px;
    text-align: center;
    text-transform: uppercase;
}

/* hover dos botoes */
.btn-entrar:hover, .btn-cadastrar:hover {
    background-color: #EAE2B7; /* cor de fundo */
    color: #171418; /* texto */
}

/* espaço em baixo do login */
.formulario{
    margin-top: 10px;
    }